@{
    ViewData["Title"] = "Danh mục";
    Layout = "_LayoutAdmin";
}
@section LeftNavbar
{
    <ul class="navbar-nav">
      <li class="nav-item">
    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/Admin" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/Admin/Category" class="nav-link">Danh mục</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Không tìm thây</a>
      </li>
    </ul>
}
<h1> 404 not found</h1>
