@{
    Layout = "_LayoutCustomer";
}
    <!-- HERO SECTION-->
    @RenderSection("HeroSection", required: false)
    <!-- Shop display -->
    <section class="py-5">
        <div class="container p-0">
            <div class="row">
                <!-- Wait Side Bar -->
                @await Component.InvokeAsync("MenuLoai")
                <!-- SHOP LISTING-->
                <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row mb-3 align-items-center">
                        @RenderSection("SoSanPham", required:false)
                            <div class="col-lg-6">
                                <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                                    <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" ><i class="fas fa-th-large"></i></a></li>
                                    <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" ><i class="fas fa-th"></i></a></li>
                                </ul>
                            </div>
                        @RenderBody()
                    </div>
                    @RenderSection("Pagination", required: false)
                </div>
            </div>
        </div>
    </section>
