<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopMVC8</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="~/vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="~/vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/favicon.png">
</head>
<body>
    <div class="page-holder">
      <!-- navbar-->
        <header class="header bg-white">
        <div class="container px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" asp-controller="Home" asp-action="Index"><span class="fw-bold text-uppercase text-dark">Ecommerce Website</span></a>
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <!-- Link--><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                <!-- Link--><a class="nav-link active" asp-controller ="Shop" asp-action="Index" >Shop</a>
                </li>
                <li class="nav-item">
                <!-- Link--><a class="nav-link" asp-controller ="Shop" asp-action="Detail" asp-route-id="1001" > Product detail</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                  <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item border-0 transition-link" asp-controller="Home" asp-action="Index">HomePage</a>
                    <a class="dropdown-item border-0 transition-link" asp-controller ="Shop" asp-action="Index">Category</a>
                    <a class="dropdown-item border-0 transition-link" asp-controller ="Shop" asp-action="Detail" asp-route-id="1001" > Product detail</a>
                    <a class="dropdown-item border-0 transition-link" asp-controller ="Cart" asp-action="Index">  Shopping cart</a>
                    <a class="dropdown-item border-0 transition-link" asp-controller="Cart"  asp-action="Checkout" >Checkout</a>
                  </div>
               </li>
              </ul>
              <ul class="navbar-nav">
                @await Component.InvokeAsync("Cart")                
              @if (User?.Identity?.IsAuthenticated == true)
              {
               <li class="nav-item"><a asp-action="DangXuat" asp-controller="KhachHang" class="nav-item nav-link">Logout</a></li>
                               <li class="nav-item"><a asp-action="DangNhap" asp-controller="KhachHang" class="nav-item nav-link">Login</a></li>
             }
              else
              {
                <li class="nav-item"><a asp-controller="KhachHang" asp-action="DangKy" class="nav-item nav-link">Register</a></li>
                <li class="nav-item"><a asp-action="DangNhap" asp-controller="KhachHang" class="nav-item nav-link">Login</a></li>
              }
              </ul>
            </div>
          </nav>
        </div>
        </header>

        <div style="min-height: 400;">
        @RenderBody()
        </div>
    
        <footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Thành viên nhóm</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Nguyễn Đình Huy</a></li>
                <li><a class="footer-link" href="#">Dương Việt Huy</a></li>
                <li><a class="footer-link" href="#">Trần Tuấn Khoa</a></li>
                <li><a class="footer-link" href="#">Nguyễn Xuân Bách</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Mã số sinh viên</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">22520558</a></li>
                <li><a class="footer-link" href="#!">22520540</a></li>
                <li><a class="footer-link" href="#!">22520692</a></li>
                <li><a class="footer-link" href="#!">22520093</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Youtube</a></li>
                <li><a class="footer-link" href="#">Facebook</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-md-6 text-center text-md-start">
                <p class="small text-muted mb-0">&copy; 2021 All rights reserved.</p>
              </div>
              <div class="col-md-6 text-center text-md-end">
                <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor" href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Bootstrapious</a></p>
                <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
              </div>
            </div>
          </div>
        </div>
        </footer>
       <!-- JavaScript files-->
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/vendor/nouislider/nouislider.min.js"></script>
        <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="~/js/front.js"></script>
        <!-- Nouislider Config-->
    <!-- sort -->
      <script>
        var range = document.getElementById('range');
        var fromPriceInput = document.getElementById('fromPrice');
        var toPriceInput = document.getElementById('toPrice');
        noUiSlider.create(range, {
            range: {
                'min': 0,
                'max': 2000
            },
            step: 5,
            start: [0, 1000],
            margin: 10,
            connect: true,
            direction: 'ltr',
            orientation: 'horizontal',
            behaviour: 'tap-drag',
            tooltips: true,
            format: {
              to: function ( value ) {
                return value;
              },
              from: function ( value ) {
                return value.replace('', '');
              }
            }
        });
    range.noUiSlider.on('update', function (values, handle) {
    var fromPrice = values[0];
    var toPrice = values[1];
    fromPriceInput.value = fromPrice;
    toPriceInput.value = toPrice;
    });
      </script>

        <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        
        </script>
            <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
</body>
</html>