@model ShopMVC8.ViewModels.CartModel
<li class="nav-item"><a class="nav-link"  asp-controller ="Cart" asp-action="Index"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal">(@Model.Quantity)</small></a></li> 
